{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Group</th>
            <th>Monitor: {{monitor}}</th>
            {% if is_admin%}
            <th><a href="/admin/my_University/student/add/">add+</a></th>
            {% endif%}
        </tr>
    </thead>

    {% for student in students%}
    <tr><td>{{student.name}}</td><td>{{student.user.is_authenticated}}</td>
        {% if is_admin%}
            <td><a href="/admin/my_University/student/{{student.pk}}/change/">edit</a></td>
        {% endif%}
            <td><a href="/call/">call</a></td></tr>
        <!--{% if username%}-->
            <!--<td></td></tr>-->
        <!--{% endif%}-->

{% endfor %}
</table>
{% endblock %}
