{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Group</th>
            <th>monitor</th>
        </tr>
    </thead>

    {% for group in groups%}
    <tr><td><a href="/details/{{group.pk}}">{{group.name}}</a></td><td>{{group.monitor}}</td>
        {% if is_admin%}
            <td><a href="/admin/my_University/group/{{group.pk}}/change/">edit</a></td></tr>
        {% endif%}

{% endfor %}
</table>
{% endblock %}